// font-families
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Rubik', sans-serif;

//colors
$bg-color: #343a40;
$primary-color: #FFBC09;
$primary-color2: transparent;
$secondary-color: #292b2c;

$helper-color1: #f5576c;
$helper-color2: #B3D369;
$helper-color3: #36D4ED;
$helper-color4: #FF9131;

$hover-color1: #DF9C00;

$text-color1: #888888;
$text-color2: #fff;

//font-sizes 
$title-size: 2rem;
$subtitle-size: 1rem;
$helper-size: 1.25rem;
$little-text-size: 14px;
$middle-text-size: 18px;
$big-title-size: 50px;
$small-title-size: 18px;