#whychoose {
    padding: 100px 0px;

    h4 {
        font-family: $secondary-font;
        color: $secondary-color;
        padding-bottom: 5px;
        font-size: $title-size;
        font-weight: 500;
        line-height: 1.2;
    }

    p {
        color: $text-color1;
        font-family: $primary-font;
        font-size: $subtitle-size;
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    .icon-grid {
        border: 1px solid white;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 8px 0px black;
        padding: 45px 15px;

        .icon {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            line-height: 80px;
            text-align: center;
            color: white;
            font-size: 35px;
            margin-left: 37%;
            margin-top: 5px;
        }
    }
}